/* ========================== CSS Reset ========================== */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
}
/* 
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* ========================================================== */

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Outfit, sans-serif;
}

.container {
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    border-radius: 18px;
}

header {
    margin: 0 24px;
    border-bottom: 1px solid hsla(215, 52%, 70%, 0.3);
}

.image-wrapper {
    background: center/cover url("images/image-equilibrium.jpg");
    height: 302px;
    width: 302px;
    margin: 24px;
    border-radius: 7px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 7px;
    background-color: hsla(178, 100%, 50%, 0.5);
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.heading {
    color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    transition: 0.3s ease;
}

.heading:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.description {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin: 17px 0 23px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 23px;
}

.price {
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.015em;
    margin-left: 6px;
}

/* .child {
    display: inline-block;
} */

.eth-price,
.time-duration {
    display: flex;
    align-items: center;
}

.duration {
    margin-left: 7px;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    /* identical to box height, or 22px */
    letter-spacing: 0.01em;
}

.creator {
    margin: 16px 24px 32px;
    display: flex;
    align-items: center;
}

.avatar {
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
}

.creator-details {
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    font-weight: 400;
    padding-left: 18px;
    line-height: 22px;
    /* identical to box height, or 22px */
}

.creator-name {
    color: white;
    letter-spacing: 0.5%;
    font-size: 16px;
    letter-spacing: 0.005em;
    transition: 0.3s ease;
}

.creator-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
